:root {
  --bg-color: #ffffff;
  --text-muted: #888888;
  --text-main: #111111;
  --border-color: #eeeeee;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-mono);
  background-color: var(--bg-color);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Header & Nav */
header {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

.logo {
  font-size: 1.2rem;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}

.nav-link {
  text-decoration: none;
  color: var(--text-muted);
  font-size: 0.9rem;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: var(--text-main);
  text-decoration: underline;
}

/* Main Container */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding-bottom: 15vh;
}

/* Input Area */
.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
  transition: border-color 0.3s ease;
}

.input-container:focus-within {
  border-bottom: 1px solid var(--text-main);
}

input {
  flex: 1;
  border: none;
  outline: none;
  font-family: var(--font-mono);
  font-size: 1.1rem;
  padding: 10px;
  background: transparent;
}

input::placeholder {
  color: #ccc;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-muted);
  padding: 0 15px;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

button:hover {
  color: var(--text-main);
}

.hint {
  font-size: 0.8rem;
  color: var(--text-muted);
  margin-top: 15px;
}

/* Result Area */
.result-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  animation: fadeIn 0.4s ease;
}

.result-container.hidden {
  display: none;
}

.short-link {
  color: var(--text-main);
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}

.short-link:hover {
  border-bottom: 1px solid var(--text-main);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about {
  color: var(--text-muted);
}

#copy-btn {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copy-btn svg {
  width: 18px;
  height: 18px;
  stroke: currentColor;
}

/* fix to bottom */
footer { 
  position: fixed;
  bottom: 20px; /* Distance from the bottom */
  z-index: 1000; /* Keeps it above other elements */
}
